.centerText {
    text-align: center !important;
}

.buy-button-container,
.buy-button-container>span {
  background-color: #EB649C !important;
  background-image: none;
  width: 1/2 !important;
}




.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    
}

.buy-button-container {
  position: 'fixed' !important;
  top: '200px' !important;
  right: '2000px' !important; 
}

.table-header th {
    border: 1px solid black;
    padding: 8px;
    background-color: #e0e0e0;
    text-align: center;
}

.table-header-left  {
    border-radius: 10px 0 0 0;

}
.table-header-right {
    border-radius: 0 10px 0 0;

}
  
  .table-body {
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
  }
  
  .table-body td {
    padding: 8px;
    border-bottom: 1px solid black;
  }
  
  .table-body tr:last-child td {
    border-bottom: none;
  }
  
  .custom-button {
    min-width: 24px;
    padding: 2px;
    margin: 0 4px;
    font-size: 12px;
    transition: background-color 0.3s ease;
  }
  
  .custom-button:hover {
    background-color: #333; /* Darker color on hover */
  }

  .table-body tr:nth-child(odd) {
    background-color: #f9f9f9; /* Light gray for odd rows */
  }
  
  .table-body tr:nth-child(even) {
    background-color: #ffffff; /* White for even rows */
  }